<div class="page-header">
  <div class="row  align-items-center justify-content-left p-1">
      <label class="mr-3">{{title}}</label>
      <button (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm mr-1">List</button>
       <button (click)="actionHandler('ADD','')" class="btn btn-primary btn-sm mr-1">New</button>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-primary">
      {{errorMessage}}
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <!--<div class="col-2">
        <input type="checkbox" [(ngModel)]="sortby" />
        <span>Sort By Code</span>
      </div>-->
      <div class="col">
        <button (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive table-bordered">
    <table class="table table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>AGENT</th>
          <th>START#</th>
          <th>MAX.DOWNLOADED#</th>
          <th>COLOUR</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of records;  let i = index" (click)="actionHandler('EDIT',rec.ebl_pkid, i)">
          <td>{{rec.ebl_agent_name}}</td>
          <td>{{rec.ebl_start_no}}</td>
          <td>{{rec.ebl_download_max_no}}</td>  
          <td>{{rec.ebl_color==true?'YES':'NO'}}</td>        
        </tr>
      </tbody>
    </table>
  </div>


</div>


<div *ngIf="currentTab=='DETAILS'" class="page-body">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Agent</label>
        <div class="col-6">
          <app-autocomplete2 #_agent_lov [controlname]="'AGENT'" [tabletype]="'MASTER'"
                      [displaycolumn]="'NAME'" [displaydata]="record.ebl_agent_name"
                      (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Starting#</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="record.ebl_start_no" required maxlength="10" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">MaxDownload#</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="record.ebl_download_max_no" required maxlength="10" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Print</label>
        <div class="col-6 form-check col-form-check-sm"> 
          <input type="checkbox"  class="form-check-input" [(ngModel)]="record.ebl_color">Is Colour</div>
      </div>

    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-2 col-10">
          <button [hidden]="disableSave" [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Save</button>
          <button [disabled]="loading" (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
   -->

<div class="page-footer">
  <div class="row row justify-content-center p-1">
      <button class="btn btn-primary btn-md mr-1" (click)="Save()">Save</button>
      <button  (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
  </div>
</div>

</div>
