<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="blrequest-tab" data-toggle="tab" href="#blrequest" role="tab"
      aria-controls="blrequest" aria-selected="true">Request</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bldownload-tab" data-toggle="tab" href="#bldownload" role="tab" aria-controls="bldownload"
      aria-selected="false">Download</a>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary btn-sm m-1 p-1" (click)="Close()">Return</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="blrequest" role="tabpanel" aria-labelledby="blrequest-tab">
    <div class="page-header">
      <div class="row  align-items-center justify-content-left p-1">
        <label class="mr-3">{{title}}</label>
        <button (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm mr-1">List</button>
        <button (click)="actionHandler('ADD','')" class="btn btn-primary btn-sm mr-1">New</button>
        <!-- <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button> -->
      </div>
    </div>

    <div *ngIf="errorMessage">
      <div class="alert alert-primary">
        {{errorMessage}}
      </div>
    </div>

    <div *ngIf="currentTab=='LIST'" class="page-list">

      <div class="page-search">
        <div class="row">
          <label class="col-2">Search</label>
          <div class="col">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring"
              (blur)="onBlur('searchstring')" />
          </div>
          <!--<div class="col-2">
          <input type="checkbox" [(ngModel)]="sortby" />
          <span>Sort By Code</span>
        </div>-->
          <div class="col">
            <button (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
          </div>
        </div>
      </div>

      <div class="page-body table-responsive table-bordered">
        <table class="table table-hover table-sm">
          <thead class="page-body-thead">
            <tr>
              <th>AGENT</th>
              <th>TOTAL BL REQUESTED</th>
              <th>STARTING#</th>
              <th>ENDING#</th>
              <th>REQUESTED.BY</th>
              <th>REQUESTED.DATE</th>
              <th *ngIf="isAdmin">APPROVE</th>
              <th>APPROVED</th>
              <th>APPROVED.BY</th>
              <th>APPROVED.DATE</th>
              <th *ngIf="canDelete" class='text-center'>DELETE</th>
            </tr>
          </thead>
          <tbody class="page-body-tbody">
            <tr *ngFor="let rec of records;  let i = index">
              <td class="hlink2" (click)="actionHandler('EDIT',rec.ebld_pkid, i)">{{rec.ebld_agent_name}}</td>
              <td>{{rec.ebld_req_nos}}</td>
              <td>{{rec.ebld_req_start_no}}</td>
              <td>{{rec.ebld_req_end_no}}</td>
              <td>{{rec.rec_created_by}}</td>
              <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td *ngIf="isAdmin" class="hlink2" (click)="Approve(rec)">APPROVE</td>
              <td [style.color]="rec.ebld_approved?'Red': 'Black'">{{rec.ebld_approved==true?'YES':'NO'}}</td>
              <td>{{rec.ebld_approved_by}}</td>
              <td>{{rec.ebld_approved_date | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td *ngIf="canDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                  (click)="DeleteRow(rec)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>


    <div *ngIf="currentTab=='DETAILS'" class="page-body mx-0 px-0">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Agent</label>
            <div class="col-6">
              <app-autocomplete2 #_agent_lov [controlname]="'AGENT'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                [disabled]="record.ebld_approved" [displaydata]="record.ebld_agent_name"
                (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Total BL Requested</label>
            <div class="col-6">
              <input type="number" [disabled]="record.ebld_approved" class="form-control form-control-sm"
                [(ngModel)]="record.ebld_req_nos" required maxlength="10" />
            </div>
          </div>


          <!-- <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-6">
              <input type="checkbox" [(ngModel)]="record.ebld_approved"><span>&nbsp;Approved</span>
            </div>
          </div> -->

        </div>
      </div>

      <!-- <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="offset-2 col-10">
            <button [hidden]="disableSave" [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Save</button>
            <button [disabled]="loading" (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
     -->

      <div class="page-footer">
        <div class="row row justify-content-center p-1">
          <button class="btn btn-primary btn-md mr-1" (click)="Save()">Save</button>
          <!-- <button (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button> -->
        </div>
      </div>
      <!-- </ng-template>
    </ngb-tab>
    <ngb-tab title="Download">
      <ng-template ngbTabContent>
        <div class="page-footer">
          <div class="row row justify-content-center p-1">
            <button class="btn btn-primary btn-md mr-1" (click)="Save()">Save</button>
            <button (click)="actionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
          </div>
        </div> -->
      <!-- </ng-template>
    </ngb-tab>
  </ngb-tabset> -->

    </div>
  </div>
  <div class="tab-pane fade" id="bldownload" role="tabpanel" aria-labelledby="bldownload-tab">
    <div class="page-body">
      <div *ngIf="tab=='main'"  class="row">

        <div class="col-sm-6 mx-0 px-0">
          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm">Agent</label>
            <div class="col-6">
              <app-autocomplete2 #_agent_lov [controlname]="'AGENT2'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                [disabled]="record.ebld_approved" [displaydata]="record.ebld_agent_name"
                (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm">BL Nos To Download</label>
            <div class="col-6">
              <input type="number" [disabled]="record.ebld_approved" class="form-control form-control-sm"
                [(ngModel)]="record.ebld_req_nos" required maxlength="10" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 mx-0 px-0">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">STARTING#</label>
            <div class="col-sm-1">
              <label class="col-form-label  col-form-label-sm">
                <font color="orange">{{starting_no}}</font>
              </label>
            </div>
            <label class="col-sm-2 col-form-label col-form-label-sm">RUNNING#</label>
            <div class="col-sm-1">
              <label class="col-form-label  col-form-label-sm">
                <font color="green">{{running_no}}</font>
              </label>
            </div>
            <label class="col-sm-2 col-form-label col-form-label-sm">ENDING#</label>
            <div class="col-sm-1">
              <label class="col-form-label  col-form-label-sm">
                <font color="blue">{{ending_no}}</font>
              </label>
            </div>
            <label class="col-sm-2 col-form-label col-form-label-sm">BALANCE#</label>
            <div class="col-sm-1">
              <label class="col-form-label  col-form-label-sm">
                <font color="red">{{balance_no}}</font>
              </label>
            </div>
          </div>
          <div class="form-group row">

            <div class="col-6">
              <button class="btn btn-primary btn-md mr-1" (click)="Generate()">Generate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tab=='report'" class="row">
      <div class="col-sm-12 mx-0 px-0">
        <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"
          (callbackevent)="callbackevent($event)"></app-report>
      </div>
    </div>

  </div>
</div>