<button class="btn btn-info btn-sm mr-1" (click)="HistoryFill('SCREEN',edithistorymodal)">History</button>
<ng-template #edithistorymodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">History</label>
                        </div>
                    </div>
                    <!-- <div class="page-body">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Ref# </label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_refno" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Employee</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_empname" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row border">
                        <div class="col-md-12  px-0 mx-0">
                            <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
                            <div class="page-body table-responsive table-bordered">
                                <table class="table  table-hover table-sm">
                                    <thead class="page-body-thead">
                                        <tr>
                                            <th>ACTION</th>
                                            <th>DATE</th>
                                            <th>USER</th>
                                            <th>CAPTION</th>
                                            <th>OLD VALUE</th>
                                            <th>NEW VALUE</th>
                                        </tr>
                                    </thead>
                                    <tbody class="page-body-tbody">
                                        <tr *ngFor="let rec of records$ | async">
                                            <td>{{rec.log_action}}</td>
                                            <td>{{rec.rec_created_date | date : gs.date_display_fmt_with_time }}</td>
                                            <td>{{rec.rec_created_by}}</td>
                                            <td>{{rec.log_caption}}</td>
                                            <td>{{rec.log_old_value}}</td>
                                            <td>{{rec.log_new_value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <!-- <button class="btn btn-primary btn-sm mr-1" (click)="mainservice.CloseModal('OK')">Ok</button> -->
                    <button class="btn btn-primary btn-sm mr-1" (click)="mainservice.CloseModal('CLOSE')">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>