<div *ngIf="tab == 'main'">

  <div class="page-header">
    <div class="col">
      <label class="mr-1">{{mainservice.title}}</label>
      <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button> -->
      <a class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" [routerLink]="getRouteDet('L','ADD')" [queryParams]="getRouteDet('P','ADD')">New</a>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
  </div>

  <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>

  <acc-deposit-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
  </acc-deposit-header>

  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

  <div class="page-body table-responsive table-bordered">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th (click)="mainservice.sort('pay_docno')">DEPOSIT#&nbsp;<i [ngClass]="mainservice.getIcon('pay_docno')"></i></th>
          <th (click)="mainservice.sort('pay_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('pay_date')"></i></th>
          <th (click)="mainservice.sort('pay_acc_name')">BANK&nbsp;<i [ngClass]="mainservice.getIcon('pay_acc_name')"></i></th>
          <th (click)="mainservice.sort('pay_diff')" class="text-right">AMOUNT&nbsp;<i [ngClass]="mainservice.getIcon('pay_diff')"></i></th>
          <th (click)="mainservice.sort('pay_tot_chq')">TOT-CHQ&nbsp;<i [ngClass]="mainservice.getIcon('pay_tot_chq')"></i></th>
          <th (click)="mainservice.sort('pay_posted')">POSTED&nbsp;<i [ngClass]="mainservice.getIcon('pay_posted')"></i></th>
          <th (click)="mainservice.sort('pay_narration')">REMARKS&nbsp;<i [ngClass]="mainservice.getIcon('pay_narration')"></i></th>

          <th>PRINT</th>
          <th>DETAIL-PRINT</th>

          <th (click)="mainservice.sort('rec_created_by')">CREATED-BY&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_by')"></i></th>
          <th (click)="mainservice.sort('rec_created_date')">CREATE-DT&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_date')"></i></th>
          <th (click)="mainservice.sort('rec_closed')">CLOSED&nbsp;<i [ngClass]="mainservice.getIcon('rec_closed')"></i></th>
          <th class='text-center'>ATTACHMENTS</th>
          <th class='text-center'>DELETE</th>

        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
          <td>{{rec.pay_docno}}</td>
          <td>{{rec.pay_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td>{{rec.pay_acc_name}} </td>
          <td align='right'>{{rec.pay_diff | number : '1.2-2'}} </td>
          <td>{{rec.pay_tot_chq}} </td>
          <td>{{rec.pay_posted}} </td>
          <td>{{rec.pay_narration}} </td>
          <td class='hlink2' (click)="Print(rec,'simple')">Print</td>
          <td class='hlink2' (click)="Print(rec,'detail')">Detail-Print</td>
          <td>{{rec.rec_created_by}} </td>
          <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td>{{rec.rec_closed}} </td>
          <td class='text-center hlink2'(click)="AttachRow(rec,attachmodal)">{{rec.rec_files_attached}}</td>
          <td *ngIf="mainservice.canDelete" style="text-align:center"><i class="fa fa-trash  fa-lg pointer"
              aria-hidden="true" (click)="mainservice.DeleteRow(rec)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

</div>

<div *ngIf="tab === 'report1'">
  <app-report [title]="'Bank Deposit List'" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid" (callbackevent)="callbackevent($event)"></app-report>
</div>

<div *ngIf="tab === 'report2'">
  <app-report [title]="'Bank Deposit List'" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid" (callbackevent)="callbackevent($event)"></app-report>
</div>



<br />

<ng-template #attachmodal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="page-body">
      <div class="row">
        <div class="col-md-12 testbox  px-0 mx-0">
          <app-fileupload [title]="attach_title" [parentid]="attach_pkid" [subid]="" [type]="'AR DEPOSIT'"
            [typelist]="" [tablename]="'acc_paymenth'" [tablepkcolumn]="'pay_pkid'" [refno]=""
            [customername]="" [updatecolumn]="" [viewonlysource]="" [viewonlyid]="" [filespath]=""
            [filespath2]="" [modalview]="true" (callbackevent)="callbackevent($event)">
          </app-fileupload>
        </div>
      </div>
      <div class="page-footer">
        <div class="row justify-content-center p-1">
          <button class="btn btn-primary btn-md" (click)="CloseModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
