<button class="btn btn-primary btn-sm" (click)="ImportPayroll(paymodal)">Import Payroll</button>
<ng-template #paymodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">{{_title}}&nbsp;[&nbsp;<span style="color:green">REF#:&nbsp;</span><span
                                    style="color:red">
                                    {{_refno}}</span>&nbsp;&nbsp;<span style="color:green">PAYROLL
                                    DATE:&nbsp;</span><span
                                    style="color:red">{{getDisplayDate(_refdate)}}</span>&nbsp;]</label>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row border">
                            <div *ngIf="filename" class="col-md-6 testbox  px-0 mx-0">
                                <app-report2 [title]="" [url]="" [searchdata]="" [menuid]="_menuid"
                                    [filename]="filename" [filetype]="filetype" [filedisplayname]="filedisplayname"
                                    [filename2]="" [filetype2]="" [filedisplayname2]=""
                                    (callbackevent)="callbackevent($event)"></app-report2>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="page-body table-responsive  fixedTableHead my-0 p-0"
                                    style="height: calc(100vh - 188px);">
                                    <table class="table  table-hover table-sm  table-bordered">
                                        <thead class="page-body-thead">
                                            <tr>
                                                <th>NAME</th>
                                                <th>EMPLOYEE</th>
                                                <th>EMPLOYER</th>
                                                <th>PAYROLL.NAME</th>
                                            </tr>
                                        </thead>
                                        <tbody class="page-body-tbody">
                                            <tr *ngFor="let rec of RecordList"
                                                (mousedown)="mainservice.selectRowId(rec.cpd_emp_doc_name)"
                                                [class.selected]="rec.cpd_emp_doc_name == mainservice.getRowId()">
                                                <td>{{rec.cpd_emp_doc_name}}</td>
                                                <td>{{rec.EMPLY_CONTRIBUTION | number : '1.2-2'}} </td>
                                                <td>{{rec.EMPLR_CONTRIBUTION | number : '1.2-2'}} </td>
                                                 <td>{{rec.cpd_emp_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="ExtractData()">Extract Data</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Generate()">Generate</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>