<button class="btn btn-primary btn-sm mr-1" (click)="ImportPayroll(paymodal)">Import Payroll</button>
<ng-template #paymodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">{{_title}}&nbsp;[&nbsp;<span style="color:green">REF#:&nbsp;</span><span
                                    style="color:red">
                                    {{_refno}}</span>&nbsp;&nbsp;<span style="color:green">PAYROLL
                                    DATE:&nbsp;</span><span
                                    style="color:red">{{getDisplayDate(_refdate)}}</span>&nbsp;]</label>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <app-report2 *ngIf="filename" [title]="" [url]="" [searchdata]="" [menuid]="_menuid"
                                    [filename]="filename" [filetype]="filetype" [filedisplayname]="filedisplayname"
                                    [bucketname]="bucketname" [fileid]="fileid" [filename2]="" [filetype2]=""
                                    [filedisplayname2]="" (callbackevent)="callbackparent($event)"></app-report2>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="page-body table-responsive  fixedTableHead my-0 p-0"
                                    style="height: calc(100vh - 288px);">
                                    <table class="table  table-hover table-sm  table-bordered">
                                        <thead class="page-body-thead">
                                            <tr>
                                                <th>NAME</th>
                                                <th>MEDICAL</th>
                                                <th>FICA</th>
                                                <th>MEDICARE</th>
                                                <th>FEDERAL</th>
                                                <th>STATE</th>
                                                <th>CITY</th>
                                                <th>CA.SDI</th>
                                                <th>SUPP.INSURANCE</th>
                                                <th>IRC</th>
                                                <th>IRA</th>
                                                <th>PAYROLL.NAME</th>
                                            </tr>
                                        </thead>
                                        <tbody class="page-body-tbody">
                                            <tr *ngFor="let rec of RecordList"
                                                (mousedown)="mainservice.selectRowId(rec.cpd_emp_doc_name)"
                                                [class.selected]="rec.cpd_emp_doc_name == mainservice.getRowId()">
                                                <td>{{rec.cpd_emp_doc_name}}</td>
                                                <td>{{rec.cpl_medical | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_fica | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_medicare | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_federal | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_state | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_city | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_casdi | number : '1.2-2'}} </td>
                                                <td>{{rec.cpl_supp_insurance | number : '1.2-2'}} </td>
                                                <td>{{rec.EMPLY_CONTRIBUTION | number : '1.2-2'}} </td>
                                                <td>{{rec.EMPLR_CONTRIBUTION | number : '1.2-2'}} </td>
                                                <td>{{rec.cpd_emp_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="missingnames" class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm"><span style="color:black">No
                                            Data Found For :</span></label>
                                    <label class="col-10 col-form-label col-form-label-sm"><span style="color:green">
                                            {{missingnames}}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="ExtractData()">Extract Data</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Generate()">{{generateBtnCaption}}</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>