<div>
    <button class="btn btn-link btn-sm" (click)="LoadList(detmodal)">SELECT</button>
</div>

<ng-template #detmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">Product Register</label>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-12  px-0 mx-0">
                            <div class="page-body table-responsive table-bordered">
                                <table class="table  table-hover table-sm">
                                    <thead class="page-body-thead">
                                        <tr>

                                            <th>CODE</th>
                                            <th>PRODUCT</th>
                                            <th>UNIT</th>
                                            <th>QTY</th>
                                            <th>QTY-DESPACTCHED</th>
                                            <th class="text-center">SELECT</th>
                                        </tr>
                                    </thead>
                                    <tbody class="page-body-tbody" *ngFor="let rec of records">
                                        <tr>
                                            <td>{{rec.ind_code}}</td>
                                            <td>{{rec.ind_product}}</td>
                                            <td>{{rec.ind_qty_uom_code}}</td>
                                            <td>{{rec.ind_cqty}}</td>
                                            <td> <input #_ind_qty_uom_code class="form-control form-control-sm"
                                                    type="text" style="text-align:left;"
                                                    [(ngModel)]="rec.ind_cqty" maxlength="15" /></td>
                                            <td (click)="SelectRecord(rec)"><input type="checkbox"
                                                    [(ngModel)]="rec.ind_selected"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('OK')">Ok</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>