<div>
    <button class="btn btn-link btn-sm" (click)="LoadList(detmodal)">SELECT</button>
</div>

<ng-template #detmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">Product Register</label>
                        </div>
                    </div>
                    <!-- <div class="page-body">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Code </label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_refno" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Product</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_empname" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row border">
                        <div class="col-md-12  px-0 mx-0">
                            <div class="page-body table-responsive table-bordered">
                                <table class="table  table-hover table-sm">
                                    <thead class="page-body-thead">
                                        <tr>
                                            <th>DOC#</th>
                                            <th>DATE</th>
                                            <th>REF#</th>
                                            <th>QTY</th>
                                            <th>QTY-DESPACTCHED</th>
                                            <th class="text-center">SELECT</th>
                                        </tr>
                                    </thead>
                                    <tbody class="page-body-tbody" *ngFor="let rec of records; let i = index">
                                        <tr>
                                            <td>{{rec.indd_doc_no}}</td>
                                            <td>{{rec.indd_doc_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                                            <td>{{rec.indd_refno}}</td>
                                            <td>{{rec.indd_bal_cqty}}</td>
                                            <td class="p-0"> <input #_ind_qty_uom_code class="form-control form-control-sm"
                                                    type="text" style="text-align:left;"
                                                    [(ngModel)]="rec.indd_despatch_cqty" (blur)="onBlur('indd_despatch_cqty',rec,i)" maxlength="15" /></td>
                                            <td (click)="SelectRecord(rec)"><input type="checkbox"
                                                    [(ngModel)]="rec.indd_selected" (change)="onChange('indd_selected',rec)"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('OK')">Ok</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>