<div class="p-0 m-0">
    <button class="btn btn-link btn-sm p-0" (click)="Showmodal(paymodal)">{{record.pay_acc_name}}</button>
</div>

<ng-template #paymodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">Edit Bank</label>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row border">
                            <div class="col-md-12 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Payment# </label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="record.pay_docno" maxlength="250" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Bank</label>
                                    <div class="col-10">
                                        <app-autocomplete2 [controlname]="'ACCTM'" [tabletype]="'ACC_ACCTM'" [displaycolumn]="'CODE'"
                                            [where]="where" [displaydata]="Txt_Bank_Code" (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Name</label>
                                    <div class="col-10">
                                        <input  #_pay_bank_name disabled class="form-control form-control-sm" type="text" (blur)="onBlur('txt_bank_name')"
                                            [(ngModel)]="Txt_Bank_Name" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>