<div *ngIf="tab == 'main'">

  <div class="page-header">
    <div class="col">
      <label class="mr-1">{{mainservice.title}}</label>
      <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button> -->
      <a class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" [routerLink]="getRouteDet('L','ADD')" [queryParams]="getRouteDet('P','ADD')">New</a>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
  </div>

  <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>

  <acc-payment-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
  </acc-payment-header>

  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

  <div class="page-body table-responsive table-bordered">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th (click)="mainservice.sort('pay_docno')">PAYMENT#&nbsp;<i [ngClass]="mainservice.getIcon('pay_docno')"></i></th>
          <th (click)="mainservice.sort('rec_files_attached_chk')">DOCS&nbsp;<i [ngClass]="mainservice.getIcon('rec_files_attached_chk')"></i></th>
          <th *ngIf="gs.BRANCH_REGION != 'USA'">RCPT/PMNT</th>
          <th (click)="mainservice.sort('pay_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('pay_date')"></i></th>
          <th (click)="mainservice.sort('pay_cust_name')">CUSTOMER&nbsp;<i [ngClass]="mainservice.getIcon('pay_cust_name')"></i></th>
          <th (click)="mainservice.sort('pay_rp')">TYPE&nbsp;<i [ngClass]="mainservice.getIcon('pay_rp')"></i></th>
          <th (click)="mainservice.sort('pay_ar_total')" class='text-right'>AR&nbsp;<i [ngClass]="mainservice.getIcon('pay_ar_total')"></i></th>
          <th (click)="mainservice.sort('pay_ap_total')" class='text-right'>AP&nbsp;<i [ngClass]="mainservice.getIcon('pay_ap_total')"></i></th>
          <th (click)="mainservice.sort('pay_acc_name')">BANK&nbsp;<i [ngClass]="mainservice.getIcon('pay_acc_name')"></i></th>
          <th (click)="mainservice.sort('pay_diff')" class='text-right'>AMOUNT&nbsp;<i [ngClass]="mainservice.getIcon('pay_diff')"></i></th>
          <th (click)="mainservice.sort('pay_bank_charges')" *ngIf="!gs.IS_SINGLE_CURRENCY" >CHARGES&nbsp;<i [ngClass]="mainservice.getIcon('pay_bank_charges')"></i></th>
          <th (click)="mainservice.sort('pay_exchange_diff')" *ngIf="!gs.IS_SINGLE_CURRENCY" >EX.DIFF&nbsp;<i [ngClass]="mainservice.getIcon('pay_exchange_diff')"></i></th>
          <th (click)="mainservice.sort('pay_posted')">POSTED&nbsp;<i [ngClass]="mainservice.getIcon('pay_posted')"></i></th>
          <th (click)="mainservice.sort('pay_depositno')">DEPOSIT#&nbsp;<i [ngClass]="mainservice.getIcon('pay_depositno')"></i></th>
          <th (click)="mainservice.sort('pay_deposit_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('pay_deposit_date')"></i></th>          
          <th (click)="mainservice.sort('pay_mode')">MODE&nbsp;<i [ngClass]="mainservice.getIcon('pay_mode')"></i></th>                    
          <th (click)="mainservice.sort('pay_chqno')">CHECK#&nbsp;<i [ngClass]="mainservice.getIcon('pay_chqno')"></i></th>                    
          <th (click)="mainservice.sort('pay_chq_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('pay_chq_date')"></i></th>                    
          <th *ngIf="gs.RE_PRINT_CHECK == 'Y'" >CHECK PRINT</th>          
          <th (click)="mainservice.sort('pay_narration')">REMARKS&nbsp;<i [ngClass]="mainservice.getIcon('pay_narration')"></i></th>                    
          <th (click)="mainservice.sort('rec_created_by')">CREATED-BY&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_by')"></i></th>
          <th (click)="mainservice.sort('rec_created_date')">CREATE-DT&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_date')"></i></th>
          <th (click)="mainservice.sort('rec_closed')">CLOSED&nbsp;<i [ngClass]="mainservice.getIcon('rec_closed')"></i></th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()"
          (mousedown)="mainservice.selectRowId(rec.pay_pkid)" 
          [class.selected]="rec.pay_pkid == mainservice.getRowId()">

          <td  class='hlink2' (click)="Print(rec,'simple')">{{rec.pay_docno}}</td>
          <td class='hlink2' (click)="upload(rec)">{{rec.rec_files_attached_chk}}</td>
          <td *ngIf="gs.BRANCH_REGION != 'USA'" class='hlink2' (click)="Print(rec,'cash')">Print</td>
          
          <td *ngIf="!mainservice.isAdmin">{{rec.pay_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td *ngIf="mainservice.isAdmin" class='hlink2' ><app-payment-date-update [record]="rec"  (callbackevent)="paydateupdatecallbackevent($event)"></app-payment-date-update></td>

          <td>{{rec.pay_cust_name}} </td>
          <td>{{rec.pay_rp}} </td>
          <td class='text-right'>{{rec.pay_ar_total | number : '1.2-2'}} </td>
          <td class='text-right'>{{rec.pay_ap_total | number : '1.2-2'}} </td>
          <td>{{rec.pay_acc_name}} </td>
          <td class='text-right'>{{rec.pay_diff | number : '1.2-2'}} </td>          
          <td  *ngIf="!gs.IS_SINGLE_CURRENCY" >{{rec.pay_bank_charges | number : '1.2-2'}} </td>          
          <td  *ngIf="!gs.IS_SINGLE_CURRENCY" >{{rec.pay_exchange_diff | number : '1.2-2'}} </td>          
          <td>{{rec.pay_posted}} </td>
          <td>{{rec.pay_depositno}} </td>
          <td>{{rec.pay_deposit_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td>{{rec.pay_mode}} </td>
          <td *ngIf="!mainservice.isAdmin">{{rec.pay_chqno}} </td>
          <td *ngIf="mainservice.isAdmin" class='hlink2' ><app-payment-update [record]="rec"  (callbackevent)="payupdatecallbackevent($event)"></app-payment-update></td>
          <td>{{rec.pay_chq_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td *ngIf="gs.RE_PRINT_CHECK == 'Y'" class='hlink2' (click)="Print(rec,'chq')">Print</td>
          <td>{{rec.pay_narration}} </td>
          <td>{{rec.rec_created_by}} </td>
          <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
          <td>{{rec.rec_closed}} </td>
          <td *ngIf="mainservice.canDelete" style="text-align:center"><i class="fa fa-trash  fa-lg pointer"
              aria-hidden="true" (click)="mainservice.DeleteRow(rec)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

</div>

<div *ngIf="tab === 'chq'">
  <app-report [title]="'Cheque Print'" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid" (callbackevent)="callbackevent($event)"></app-report>
</div>

<div *ngIf="tab === 'simple'">
  <app-report [title]="'List'" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid" (callbackevent)="callbackevent($event)"></app-report>
</div>

<div *ngIf="tab === 'cash'">
  <app-report [title]="'Cash/Bank Print'" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid" (callbackevent)="callbackevent($event)"></app-report>
</div>



<div *ngIf="tab=='attachment'">
    <app-fileupload [title]="'File Upload Page'" [parentid]="upload_pay_pkid" [subid]="" [type]="'PAYMENT'" [typelist]=""
        [tablename]="'acc_paymenth'" [tablepkcolumn]="'pay_pkid'" [refno]="upload_pay_docno" [customername]="" [updatecolumn]="'REC_FILES_ATTACHED_CHK'" 
        [viewonlysource]="" [viewonlyid]="" [filespath]="" [filespath2]="" (callbackevent)="callbackevent($event)">
    </app-fileupload>
</div>


<br />

