<div class="page-header">
    <div class="col">
        <label class="mr-3">{{mainservice.title}}</label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage$ | async}}
</div>

<div class="page-body">
    <div class="row">
        <div class="col-md-4 p-1">
            <ul class="nav nav-tabs" id="myTabFilter" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="default-tab" data-toggle="tab" href="#default" role="tab"
                        aria-controls="default" aria-selected="true">Default</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab"
                        aria-controls="others" aria-selected="false">Others</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabFilterContent">
                <div class="tab-pane fade show active commonbgcolor2" id="default" role="tabpanel"
                    aria-labelledby="default-tab">
                    <div class="page-body table-responsive table-bordered">
                        <table class="table  table-hover table-sm">
                            <thead class="page-body-thead">
                                <tr>
                                    <th>
                                        <div class="form-check" (click)="mainservice.SelectDeselect()"> <input
                                                type="checkbox" class="form-check-input"
                                                [(ngModel)]="mainservice.chkall"><span>SELECTED</span>
                                        </div>
                                    </th>
                                    <th>CLIENT CATEGORY</th>
                                </tr>
                            </thead>
                            <tbody class="page-body-tbody">
                                <tr *ngFor="let rec of records$ | async">
                                    <td (click)="mainservice.ClientCategoryChk_Click(rec)">
                                        <div class="form-check"> <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="rec.cat_yn_b">
                                        </div>
                                    </td>
                                    <td>{{rec.cat_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade commonbgcolor2" id="others" role="tabpanel" aria-labelledby="others-tab">
                    <div class="page-body table-responsive table-bordered">
                        <table class="table  table-hover table-sm">
                            <thead class="page-body-thead">
                                <tr>
                                    <th>SELECT</th>
                                    <th>TYPE</th>
                                </tr>
                            </thead>
                            <tbody class="page-body-tbody">
                                <tr *ngFor="let rec of recordsoth$ | async">
                                    <td (click)="mainservice.ClientCategoryChk_Click(rec)">
                                        <div class="form-check"> <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="rec.cat_yn_b">
                                        </div>
                                    </td>
                                    <td>{{rec.cat_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-1">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="createmail-tab" data-toggle="tab" href="#createmail" role="tab"
                        aria-controls="createmail" aria-selected="true">Create Mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sendmail-tab" data-toggle="tab" href="#sendmail" role="tab"
                        aria-controls="sendmail" aria-selected="false">Send Mail</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active commonbgcolor2" id="createmail" role="tabpanel"
                    aria-labelledby="createmail-tab">
                    <div class="page-list">

                        <div class="page-search">
                            <div class="row">
                                <div class="col-md-12  px-0 mx-0">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label col-form-label-sm"></label>
                                        <div class="col-10">

                                            <input *ngIf="gs.user_code=='ADMIN'" type="checkbox"
                                                [(ngModel)]="mainservice.TestMail" /><span *ngIf="gs.user_code=='ADMIN'"
                                                class="mr-1">Test Mail</span>
                                            <button class="btn btn-info btn-sm mr-1" (click)="Valid_Click()">Validate
                                                IDs</button>
                                            <button class="btn btn-info btn-sm mr-1" (click)="CreateMails()">Create
                                                Emails</button>
                                            <input *ngIf="mainservice.isAdmin" type="checkbox"
                                                [(ngModel)]="mainservice.EmailIdsOnly" /><span class="mr-1">Email IDs
                                                Only</span>
                                            <button *ngIf="mainservice.isAdmin" class="btn btn-info btn-sm mr-1"
                                                (click)="mainservice.DownloadEmails()">Download Contacts</button>

                                            <!-- <button *ngIf="mainservice.isAdmin" class="btn btn-info btn-sm mr-1"
                                            (click)="mainservice.MailHandled()">test Mail</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-search">
                            <div class="row">
                                <div class="col-md-12  px-0 mx-0">
                                    <div class="form-group row">
                                        <label class="col-md-12 col-form-label col-form-label-sm">Subject:</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control form-control-sm"
                                                [(ngModel)]="mainservice.Txt_Subject" (blur)="onBlur('Txt_Subject')" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-form-label col-form-label-sm">Message:</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <textarea rows="10" [style.font-family]="mainservice.msgFontFamily"
                                                [style.font-size]="mainservice.msgFontSize"
                                                [style.color]="mainservice.msgForeground"
                                                [style.font-weight]="mainservice.msgFontWeight"
                                                class="form-control form-control-sm"
                                                [(ngModel)]="mainservice.Txt_Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-form-label col-form-label-sm">Error:</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <textarea rows="7" class="form-control form-control-sm"
                                                [(ngModel)]="mainservice.Txt_Error"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-search">
                            <div class="row">
                                <div class="col-md-12  px-0 mx-0">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label col-form-label-sm"></label>
                                        <div class="col-10">
                                            <button class="btn btn-info btn-sm mr-1" (click)="Valid_Click()">Validate
                                                IDs</button>
                                            <button class="btn btn-info btn-sm mr-1"
                                                (click)="mainservice.CreateMails('MAIL')">Create Emails</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade commonbgcolor2" id="sendmail" role="tabpanel" aria-labelledby="sendmail-tab">
                    <div class="page-list">
                        <div class="page-search">
                            <div class="row">
                                <div class="col-md-4 mx-0 px-0">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label col-form-label-sm">From ID</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text"
                                                [(ngModel)]="mainservice.fromemailid" />
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                        <label class="col-2 col-form-label col-form-label-sm">Password</label>
                                        <div class="col-8">
                                            <input class="form-control form-control-sm" type="text"
                                                [(ngModel)]="mainservice.emailpassword" />
                                        </div>
                                        <div class="col-2 input-group input-group-sm">
                                            <button (click)="List('SCREEN')"
                                                class="btn btn-info btn-sm mr-1">Search</button>
                                        </div>
                                    </div> -->
                                </div>
                                <div *ngIf="mainservice.pwdRequired" class="col-md-4 mx-0 px-0">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label col-form-label-sm">Password</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text"
                                                [(ngModel)]="mainservice.emailpassword" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mx-0 px-0">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label col-form-label-sm"></label>
                                        <div class="col-9">
                                            <button (click)="List('SCREEN')"
                                                class="btn btn-info btn-sm mr-1">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

                    <div class="page-body table-responsive table-bordered">
                        <table class="table  table-hover table-sm">
                            <thead class="page-body-thead">
                                <tr>
                                    <th>SLNO</th>
                                    <th>CREATED DT</th>
                                    <th>BATCHS</th>
                                    <th>CTR</th>
                                    <th>TOT EMAILS</th>
                                    <th>MAIL</th>
                                    <th>SEND DT</th>
                                    <th>FAILED BATCHS</th>
                                    <!-- <th>REMARKS</th> -->
                                </tr>
                            </thead>
                            <tbody class="page-body-tbody">
                                <tr *ngFor="let rec of records2$ | async"
                                    (mousedown)="mainservice.selectRowId(rec.bm_pkid)"
                                    [class.selected]="rec.bm_pkid == mainservice.getRowId()">
                                    <td>{{rec.bm_slno}}</td>
                                    <td>{{rec.bm_created_date | date : gs.date_display_fmt_with_time }}</td>
                                    <td>{{rec.bm_filecount}}</td>
                                    <td>{{rec.bm_subctr}}</td>
                                    <td>{{rec.bm_tot_emails}}</td>
                                    <td class="hlink2" (click)="mainservice.SendMails(rec)">SEND</td>
                                    <td>{{rec.bm_send_date | date : gs.date_display_fmt_with_time }}</td>
                                    <td>{{rec.bm_failed_seq}}</td>
                                    <!-- <td>{{rec.bm_desc}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

                    <br />
                </div>
            </div>
        </div>
    </div>
</div>