<!-- <div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div> -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="followup-tab" data-toggle="tab" href="#followup" role="tab" aria-controls="followup"
      aria-selected="true">Follow Up List</a>
  </li>
  <li *ngIf="gs.screenExists(gs.MENU_ALERT_AR_LIST)" class="nav-item">
    <a class="nav-link" id="arlist-tab" data-toggle="tab" href="#arlist" role="tab" aria-controls="arlist"
      aria-selected="false">Pending A/R List</a>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary btn-sm m-1 p-1" (click)="Close()">Return</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active commonbgcolor2" id="followup" role="tabpanel" aria-labelledby="followup-tab">
    <div *ngIf="ErrorMessage" class="alert alert-danger">
      {{ErrorMessage}}
    </div>
    <div class="page-list">
      <div class="page-search">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-4 col-form-label col-form-label-sm"></label>
              <div class="col-8 input-group input-group-sm">
                <button  (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
                  <button  (click)="RemoveRecord()"  class="btn btn-primary btn-sm mr-1">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-0 px-0">
        <div class="page-body table-responsive table-bordered">
          <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
              <tr>
                <th (click)="sort('cf_refno')">REFNO&nbsp;<i [ngClass]="getIcon('cf_refno')"></i></th>
                <th (click)="sort('cf_assigned_code')">ASSIGNED TO&nbsp;<i [ngClass]="getIcon('cf_assigned_code')"></i></th>
                <th (click)="sort('cf_followup_date')">FOLLOW UP DATE&nbsp;<i [ngClass]="getIcon('cf_followup_date')"></i></th>
                <th (click)="sort('cf_remarks')">NOTES&nbsp;<i [ngClass]="getIcon('cf_remarks')"></i></th>
                <th><input type="checkbox" (click)="SelectDeselect()" [(ngModel)]="chkallselected"></th>
              </tr>
            </thead>
            <tbody class="page-body-tbody">
              <tr *ngFor="let rec of frecords | sortBy: getSortCol() : getSortOrder()">
                <td class='hlink2' (click)="editmasterfup(rec)">{{rec.cf_refno}}</td>
                <td>{{rec.cf_assigned_code}}</td>
                <td class='hlink2' (click)="editfup(rec)">{{rec.cf_followup_date | date : gs.FRONTEND_DATEFORMAT}}</td>
                <td>{{rec.cf_remarks}}</td>
                <td>
                  <div class="form-check"><input type="checkbox" class="form-check-input" [(ngModel)]="rec.cf_yn_b">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade commonbgcolor2" id="arlist" role="tabpanel" aria-labelledby="arlist-tab">

    <div *ngIf="errorMessage$ | async" class="alert alert-danger">
      {{errorMessage$ | async}}
    </div>

    <app-alertlogpage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
    </app-alertlogpage-header>

    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <div class="page-body table-responsive table-bordered">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th (click)="mainservice.sort('mbl_refno')">REFNO&nbsp;<i [ngClass]="mainservice.getIcon('mbl_refno')"></i></th>
            <th (click)="mainservice.sort('mbl_ref_date')">REF-DATE&nbsp;<i [ngClass]="mainservice.getIcon('mbl_ref_date')"></i></th>
            <th (click)="mainservice.sort('hbl_houseno')">HOUSE&nbsp;<i [ngClass]="mainservice.getIcon('hbl_houseno')"></i></th>
            <th (click)="mainservice.sort('hbl_bltype')">SHIPMENT TYPE&nbsp;<i [ngClass]="mainservice.getIcon('hbl_bltype')"></i></th>
            <th (click)="mainservice.sort('mbl_pod_eta')">ETA&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pod_eta')"></i></th>
            <th (click)="mainservice.sort('mbl_remarks')">REMARK&nbsp;<i [ngClass]="mainservice.getIcon('mbl_remarks')"></i></th>
            <th (click)="mainservice.sort('mbl_pending_status')">STATUS&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pending_status')"></i></th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
            <td class='hlink2' (click)="editmaster(rec)">{{rec.mbl_refno}}</td>
            <td>{{rec.mbl_ref_date | date : gs.FRONTEND_DATEFORMAT}}</td>
            <td class='hlink2' (click)="edithouse(rec)">{{rec.hbl_houseno}}</td>
            <td>{{rec.hbl_bltype}}</td>
            <td>{{rec.mbl_pod_eta | date : gs.FRONTEND_DATEFORMAT}}</td>
            <td>{{rec.mbl_remarks}}</td>
            <td class='hlink2' (click)="mainservice.HideRecord(rec)">{{rec.mbl_pending_status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <br />
  </div>
</div>