<div *ngIf="tab=='main'">
    <div class="page-header">
        <div class="row align-items-center justify-content-left p-1">
            <label class="mr-3">{{title}}({{mode}})</label>
            <button #_btnret class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>

    <div *ngIf="errorMessage.length >0">
        <div class="alert alert-success">
            <a (click)="errorMessage=[]" class="close" aria-label="close">&times;</a>
            <ul>
                <li *ngFor="let str of errorMessage">
                    <p class="h4"> {{str}}</p>
                </li>
            </ul>
        </div>
    </div>


    <div class="page-body">
        <div class="row border">
            <div class="col-md-4 testbox  px-0 mx-0">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Ref#</label>
                    <div class="col-9">
                        <input class="form-control form-control-sm text-danger" type="text"
                            [(ngModel)]="record.cwm_refno" [disabled]="true" maxlength="25" #refno />
                    </div>
                </div>
            </div>
            <div class="col-md-4 testbox  px-0 mx-0">
            </div>
        </div>
        <div class="row border">
            <div class="col-md-4 testbox  px-0 mx-0">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">To</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_name" [maxlength]="60" [uppercase]="true" #to_name>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Company</label>
                    <div class="col-9">
                        <app-autocomplete2 [controlname]="'QUOTE-TO'" [tabletype]="'MASTER'" [displaycolumn]="'CODE'"
                            [displaydata]="record.qtnm_to_code" (ValueChanged)="LovSelected($event)" #to_code>
                        </app-autocomplete2>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm"></label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_name" [maxlength]="60" [uppercase]="true" #to_name>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Fax</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_addr1" [maxlength]="60" [uppercase]="true" #to_addr1>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Tel</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_addr2" [maxlength]="60" [uppercase]="true" #to_addr2>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">A/c#</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_addr3" [maxlength]="60" [uppercase]="true" #to_addr3>
                        </InputBox>
                    </div>
                </div>
            </div>
            <div class="col-md-4 testbox  px-0 mx-0">

                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Req.Type</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_to_addr3" [maxlength]="60" [uppercase]="true" #to_addr7>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">From</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_quot_by" [maxlength]="60" [uppercase]="true" #quot_by>
                        </InputBox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Date</label>
                    <div class="col-9">
                        <app-date [inputdate]="record.qtnm_valid_date" (ValueChanged)="record.qtnm_valid_date=$event">
                        </app-date>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">SenderRef#</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_move_type" [maxlength]="25" [uppercase]="true" #move_type>
                        </InputBox>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">YourRef#</label>
                    <div class="col-9">
                        <InputBox [(inputModel)]="record.qtnm_move_type" [maxlength]="25" [uppercase]="true" #move_type>
                        </InputBox>
                    </div>
                </div>


            </div>
        </div>
        <div class="row border">
            <div class="col-md-4 testbox  px-0 mx-0">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Commodity</label>
                    <div class="col-9">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input mr-1"
                                [(ngModel)]="record.cs_is_check_bool" /><span>Urgent</span>
                            <input type="checkbox" class="form-check-input mr-1"
                                [(ngModel)]="record.cs_is_check_bool" /><span>Review</span>
                            <input type="checkbox" class="form-check-input mr-1"
                                [(ngModel)]="record.cs_is_check_bool" /><span>Comment</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 testbox  px-0 mx-0">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm"></label>
                    <div class="col-9">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input mr-1"
                                [(ngModel)]="record.cs_is_check_bool" /><span>Reply</span>
                            <input type="checkbox" class="form-check-input mr-1"
                                [(ngModel)]="record.cs_is_check_bool" /><span>Recycle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border">
            <div class="col-md-8">
                <div class="page-body table-responsive table-bordered">
                    <table class="table  table-hover table-sm">
                        <thead class="page-body-thead">
                            <tr>
                                <th width="15%">TYPE</th>
                                <th width="20%">BENEFICIARY</th>
                                <th width="15%">REFERENCE</th>
                                <th width="20%">BANK</th>
                                <th width="20%">AMOUNT</th>
                                <th width="10%" style="text-align:center">DELETE</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody">
                            <tr *ngFor="let rec of records; let i = index">
                                <td class="p-0">
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="Client_Category">
                                        <option [value]="'CNEE'">CONSIGNEE</option>
                                        <option [value]="'CNOR'">CONSIGNOR</option>
                                        <option [value]="'SHPR'">SHIPPER</option>
                                    </select>
                                </td>
                                <td class="p-0">
                                    <app-autocomplete2 #_qtnd_desc_code [controlname]="'INVOICE-CODE'"
                                        [displaycolumn]="'CODE'" [tabletype]="'PARAM'" [subtype]="'INVOICE-DESCRIPTION'"
                                        [uid]="rec.qtnd_pkid" [displaydata]="rec.qtnd_desc_code"
                                        (ValueChanged)="LovSelected($event,i)">
                                    </app-autocomplete2>
                                </td>
                                <td class="p-0">
                                    <InputBox [(inputModel)]="rec.qtnd_per" [maxlength]="60" [uppercase]="true"
                                        #quot_per>
                                    </InputBox>
                                </td>
                                <td class="p-0">
                                    <InputBox [(inputModel)]="rec.qtnd_per" [maxlength]="60" [uppercase]="true"
                                        #quot_per>
                                    </InputBox>
                                </td>
                                <td class="p-0">
                                    <InputBoxNumber [(inputModel)]="rec.qtnd_amt" [maxlength]="15"
                                        [dec]="foreign_amt_decplace">
                                    </InputBoxNumber>
                                </td>
                                <td style="text-align:center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                                        (click)="RemoveRow(rec)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group row">
                        <div class="col-12">
                            <button class="btn btn-info btn-sm mr-1" (click)="AddRow()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row border">
            <div class="col-md-8  px-0 mx-0">
                <div class="row">
                    <div class="col-12 px-0 mx-0">
                        <div class="form-group row">
                            <label class="col-1 col-form-label col-form-label-sm">Remarks</label>
                            <div class="col-11">
                                <textarea #_qtnm_remarks rows="6" class="form-control form-control-sm"
                                    [(ngModel)]="record.qtnm_remarks"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="page-footer">
            <div class="row justify-content-center p-1">
                <button class="btn btn-primary btn-md mr-1" *ngIf="gs.canSave(menuid,mode)"
                    (click)="Save()">Save</button>
                <button *ngIf="mode=='EDIT'" class="btn btn-primary btn-md mr-1"
                    (click)="BtnNavigation('PRINT')">Print</button>
                <button [style.color]="Foregroundcolor" *ngIf="mode=='EDIT'" class="btn btn-primary btn-md mr-1"
                    (click)="BtnNavigation('ATTACHMENT',attachmodal)">Supporting
                    Documents</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="tab=='report'">
    <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"
        (callbackevent)="callbackevent($event)"></app-report>
</div>
<ng-template #attachmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <app-fileupload [title]="attach_title" [parentid]="attach_parentid" [subid]="attach_subid"
                        [type]="attach_type" [typelist]="attach_typelist" [tablename]="attach_tablename"
                        [tablepkcolumn]="attach_tablepkcolumn" [refno]="attach_refno"
                        [customername]="attach_customername" [updatecolumn]="attach_updatecolumn"
                        [viewonlysource]="attach_viewonlysource" [viewonlyid]="attach_viewonlyid"
                        [filespath]="attach_filespath" [filespath2]="attach_filespath2" [modalview]="true"
                        (callbackevent)="callbackevent($event)"></app-fileupload>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-md" (click)="CloseModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>