<div >
    <button class="btn btn-info btn-sm" (click)="PayrollFill(payrollmodal)">Payroll</button>
</div>

<ng-template #payrollmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">Payroll Register</label>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Ref# </label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_refno" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Employee</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_empname" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-12  px-0 mx-0">
                            <div class="page-body table-responsive table-bordered">
                                <table class="table  table-hover table-sm">
                                    <thead class="page-body-thead">
                                        <tr>
                                            <th class="text-center">SELECT</th>
                                            <th>DATE</th>
                                            <th>AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody class="page-body-tbody" *ngFor="let rec of records">
                                        <tr>
                                            <td  (click)="SelectRecord(rec)"><input type="checkbox" [(ngModel)]="rec.invd_payroll_b"></td>
                                            <td>{{rec.invd_payroll_date}}</td>
                                            <td>{{rec.invd_frate}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('OK')">Ok</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>