<div class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Format</label>
                    <div class="col-8">
                        <app-autocomplete2 [controlname]="'FORMAT'" [tabletype]="'PARAM'"
                            [subtype]="mainservice.param_type" [displaycolumn]="'NAME'"
                            [displaydata]="searchQuery.format_name" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete2>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Code/Name</label>
                    <div class="col-8">
                      <InputBox [(inputModel)]="searchQuery.searchString" maxlength="1000" [uppercase]="true" ></InputBox>
                    </div>
                </div> -->
            </div>
            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-3 input-group input-group-sm">
                        <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
                        <button (click)="List('PRINT')" *ngIf="mainservice.canPrint" class="btn btn-primary btn-sm">Print</button>
                        <button (click)="mainservice.SaveRecords()" *ngIf="mainservice.canSave" class="btn btn-primary btn-md">Save</button>                        
                    </div>
                    <div class="col-3">
                        <app-formatpagedet [formatid]="searchQuery.format_id" [formatname]="searchQuery.format_name"
                            [formattype]="mainservice.param_type" [title]="mainservice.title"
                            (callbackevent)="detpagecallbackevent($event)"></app-formatpagedet>
                    </div>

                    <div class="col-3">
                        <label> {{remarks}}</label>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>