<div>
    <button class="btn btn-info btn-sm" (click)="FormatUpdate(formatmodal)">Format Update</button>
</div>

<ng-template #formatmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <div class="page-header">
                        <div class="row align-items-center justify-content-left p-1">
                            <label class="mr-3">{{_title}}</label>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Format</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_formatname" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-12  px-0 mx-0">
                            <div class="page-body table-responsive table-bordered">
                                <div [style.height]="records.length>16?'450px':'auto'"
                                    [style.overflow-y]="records.length>16?'scroll':'auto'">
                                    <table class="table  table-hover table-sm">
                                        <thead class="page-body-thead">
                                            <tr>
                                                <th>NAME</th>
                                                <th >
                                                    <div class="form-check"> <input type="checkbox"
                                                            (click)="SelectDeselect()" class="form-check-input"
                                                            [(ngModel)]="chkallselected"><span>DISPLAY Y/N</span>
                                                    </div>
                                                </th>
                                                <th>X-POSITION</th>
                                                <th>Y-POSITION</th>
                                                <th>WIDTH</th>
                                            </tr>
                                        </thead>
                                        <tbody class="page-body-tbody" *ngFor="let rec of records">
                                            <tr>
                                                <td>{{rec.blf_col_name}}</td>
                                                <td >
                                                    <div class="form-check"> <input type="checkbox"
                                                            class="form-check-input" (click)="SelectRecord(rec)" #chkbox
                                                            [(ngModel)]="rec.blf_enabled_b">
                                                    </div>
                                                </td>
                                                <td>{{rec.blf_col_x}}</td>
                                                <td>{{rec.blf_col_y}}</td>
                                                <td>{{rec.blf_width}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="ReUpdateDet()">Search</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="SaveDet()">Save</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>