<div *ngIf="tab=='main'">
    <div class="page-header">
        <div class="row align-items-center justify-content-left p-1">
            <label class="mr-3">{{mainservice.title}}</label>
            <button  #_btnretf class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>

    <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-primary">
        {{errorMessage}}
      </div>

      <app-formatpage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)" ></app-formatpage-header>
  
      <!-- <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2> -->
    
    <div class="page-body">
        <div class="row">
            <div class="col-md-8  p-1 testbox">
                <div class="col-md-12 p-2 border">
                    <div class="row">
                        <div class="col-md-12 px-0 mx-0">
                            <div class="page-body table-responsive">
                                <table class="table  table-hover table-sm">
                                    <thead class="page-body-thead">
                                        <tr>
                                            <th>HEADING</th>
                                            <th>X(LEFT-MARGIN)</th>
                                            <th>Y(TOP-MARGIN)</th>
                                            <th>WIDTH</th>
                                            <th>LEFT</th>
                                            <th>RIGHT</th>
                                            <th>UP</th>
                                            <th>DOWN</th>
                                            <!-- <th>VISIBLE</th> -->
                                        </tr>
                                    </thead>
                                    <tbody class="page-body-tbody">
                                        <tr *ngFor="let rec of  records$ | async">
                                            <td>
                                                {{rec.blf_col_name}}
                                              </td>
                                              <td>
                                                <input type="number" class="form-control form-control-sm" [(ngModel)]="rec.blf_col_x" (blur)="OnBlur('blf_col_x', rec)" />
                                              </td>
                              
                                              <td>
                                                <input type="number" class="form-control form-control-sm" [(ngModel)]="rec.blf_col_y" (blur)="OnBlur('blf_col_y', rec)" />
                                              </td>
                                              <td>
                                                <input type="number" class="form-control form-control-sm" [(ngModel)]="rec.blf_width" (blur)="OnBlur('blf_width', rec)" />
                                              </td>
                                              <td>
                                                <button class="btn btn-info btn-sm" (click)="changepos('left',rec)">LEFT</button>
                                              </td>
                                              <td>
                                                <button class="btn btn-info btn-sm" (click)="changepos('right',rec)">RIGHT</button>
                                              </td>
                                              <td>
                                                <button class="btn btn-info btn-sm" (click)="changepos('up',rec)">UP</button>
                                              </td>
                                              <td>
                                                <button class="btn btn-info btn-sm" (click)="changepos('down',rec)">DOWN</button>
                                              </td>
                                              <!-- <td>
                                                {{rec.blf_col_enabled}}
                                              </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="row justify-content-center p-1">
            <button class="btn btn-primary btn-md" *ngIf="mainservice.canSave" (click)="mainservice.SaveRecords()">Save</button>

        </div>
    </div>
</div>
