<app-header></app-header>

<router-outlet></router-outlet>

<app-loading-screen></app-loading-screen>

<ng-template #pwdmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-header">
            <div class="row align-items-center justify-content-left p-1">
                <label class="mr-3">Login</label>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-6 testbox  px-0 mx-0">
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Password</label>
                        <div class="col-8">
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-md" (click)="validUser()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>