<div class="page-header">
    <div class="col">
        <label class="mr-3">{{mainservice.title}}</label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage$ | async}}
</div>
<div class="page-body table-responsive table-bordered">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of records$ | async">
            <tr [style.font-weight]="rec.qtnm_to_name.includes('QUOTATION')||rec.qtnm_to_name.includes('INVOICE')?'bold':'normal'" >
                <td *ngIf="!(this.mainservice.canEdit)">{{rec.qtnm_to_name}}</td>
                <td *ngIf="(this.mainservice.canEdit)" class='hlink2' (click)="edit(rec)">{{rec.qtnm_to_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
