<div class="page-list">
  <div class="page-search">
    <div class="row">     
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Type</label>
          <div class="col-10">
            <select class="form-control form-control-sm" [(ngModel)]="searchQuery.searchType" (change)="OnChange('searchType')">
              <option [value]="'CONTAINER'">CONTAINER</option>
              <option [value]="'MASTER'">MASTER</option>
              <option [value]="'BOOKING.NO'">BOOKING.NO</option>
              <option [value]="'REFNO'">REFNO</option>
              <option [value]="'IT.NO'">IT.NO</option>
              <option [value]="'PO.NO'">PO.NO</option>
              <option [value]="'HOUSE'">HOUSE</option>
              <option [value]="'VESSEL'">VESSEL</option>
              <option [value]="'POL'">POL</option>
              <option [value]="'POD'">POD</option>
              <option [value]="'PARENT'">PARENT</option>
              <option [value]="'AGENT'">AGENT</option>
              <option [value]="'SHIPPER'">SHIPPER</option>
              <option [value]="'CONSIGNEE'">CONSIGNEE</option>
              <option [value]="'INVOICE.NO'">INVOICE.NO</option>
              <option [value]="'THEIR.REF.NO'">THEIR.REF.NO</option>
              <option [value]="'CUSTOMER'">CUSTOMER</option>
              <option [value]="'CHB'">CHB</option> 
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">String</label>
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.searchString" (blur)="onBlur('searchString')" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm"></label>
          <div *ngIf="mainservice.search_type == 'AGENT' || mainservice.search_type == 'SHIPPER' || mainservice.search_type == 'CONSIGNEE'" class="col-4">
            <input type="checkbox" [(ngModel)]="searchQuery.isParentChecked" />
            <span class="ml-1">Parent</span>
          </div>
          <div *ngIf="mainservice.search_type == 'MASTER' || mainservice.search_type == 'REFNO' || mainservice.search_type == 'AGENT' || mainservice.search_type == 'POL' || mainservice.search_type == 'POD' || mainservice.search_type == 'VESSEL' || mainservice.search_type == 'BOOKING.NO' || mainservice.search_type == 'CONTAINER'" class="col-4">
            <input type="checkbox" [(ngModel)]="searchQuery.isHouseChecked" />
            <span class="ml-1">Include House</span>
          </div>
          <div class="col-2">
            <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
            <!-- <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>