      <div *ngIf="errorMessage$ | async" class="alert alert-danger">
        {{errorMessage$ | async}}
      </div>
      <app-trackingpage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
      </app-trackingpage-header>
  
      <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
  
      <div class="page-body table-responsive table-bordered">
        <table class="table  table-hover table-sm">
          <thead class="page-body-thead">
            <tr>
              <th (click)="mainservice.sort('isa_files_desc')">FILE-NAME&nbsp;<i
                  [ngClass]="mainservice.getIcon('isa_files_desc')"></i></th>
              <th (click)="mainservice.sort('files_processed')">PROCESSED&nbsp;<i
                  [ngClass]="mainservice.getIcon('files_processed')"></i></th>
              <th (click)="mainservice.sort('isa_format')">FORMAT&nbsp;<i
                  [ngClass]="mainservice.getIcon('isa_format')"></i></th>
              <th (click)="mainservice.sort('grp_sender_id')">SENDER-&nbsp;<i
                  [ngClass]="mainservice.getIcon('grp_sender_id')"></i></th>
                  <th (click)="mainservice.sort('grp_format')">GROUP-&nbsp;<i
                    [ngClass]="mainservice.getIcon('grp_format')"></i></th>
              <th (click)="mainservice.sort('files_created_date')">CREATED-BY&nbsp;<i
                  [ngClass]="mainservice.getIcon('files_created_date')"></i></th>
                  <th (click)="mainservice.sort('isa_created_date')">CREATED-DT&nbsp;<i
                    [ngClass]="mainservice.getIcon('isa_created_date')"></i></th>
            </tr>
          </thead>
          <tbody class="page-body-tbody">
            <tr *ngFor="let rec of  records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
              <td class='hlink2' (click)="TrackingImportData(rec)">{{rec.isa_files_desc}}</td>
              <td>{{rec.isa_files_processed}}</td>
              <td>{{rec.isa_format}}</td>
              <td>{{rec.grp_sender_id}}</td>
              <td>{{rec.grp_format}}</td>
              <td>{{rec.isa_created_by}}</td>
              <td>{{rec.isa_created_date | date : gs.FRONTEND_DATEFORMAT}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
     
   
  