<div class="page-list">
    <div class="row">
       
        <div class="col-sm-12 mx-0 px-0">
            <div class="page-search">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
                            <div class="col-sm-2">
                                <button (click)="mainservice.ProcessTracking()" class="btn btn-primary btn-sm mr-1">Process
                                   </button>
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="trkprocess" [(ngModel)]="searchQuery.rdtrkprocessed"
                                    [value]="'PROCESSED'" />
                                <span>&nbsp;Processed</span>
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="trkprocess" [(ngModel)]="searchQuery.rdtrkprocessed"
                                    [value]="'NOT-PROCESSED'"  />
                                <span>&nbsp;Not Processed</span>
                            </div>
                            <div class="col-sm-2">
                                <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>