<div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
  {{errorMessage}}
</div>

<app-rights-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)"></app-rights-header>


<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th>CODE</th>
        <th>NAME</th>
        <th>COMPANY</th>
        <th>DEFAULT</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of records$ | async">
        <td class='hlink2' (click)="edit(rec)">{{rec.usr_code}}</td>
        <td>{{rec.user_name}}</td>
        <td>{{rec.comp_name}}</td>
        <td>{{rec.ua_default}}</td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />