
<div class="input-group input-group-sm">
  <input [disabled]="disabled" type="text" class="form-control form-control-sm" (focus)="onfocus()" (blur)="onBlur()"
    [(ngModel)]="_displaydata" list="datalistOptions" autocomplete="off" #inputbox   />

  <button [disabled]="showDiv || disabled" [ngStyle]="setMyStyles()" class="btn btn-default btn-sm" 
    (click)="List()">...</button>

</div>
 
  
  <div [ngClass]="showDiv ? 'm1 dispdiv':'m1 hidediv'" >
    
    <select #LOV class="custom-select custom-select-sm" size="15" 
    (keydown)="ListKeyDown2($event)" 
    (click)="ListMouseDown2($event)"
    (blur)="Cancel()"
    [(ngModel)]="_selectedItem"
    >
      <option  style ="cursor: pointer;"
        *ngFor="let item of RecList ;let i = index" 
        [selected]="item.id == _selectedItem"
        [value] = "item.id"
      >[{{item.code}}]&nbsp;{{item.name}}</option>

      <option value ="-*-*-*-MORE_ITEM-*-*-*-"  style=" cursor:pointer"  *ngIf="bShowMore">
        MORE...
      </option>

    </select>
    
  </div>


 


<!-- <div [ngClass]="{'my-class': showDiv}">
  <div *ngIf="showDiv">
    <button tabindex="0" type="button" class="close" aria-label="Close" (click)="Cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul style="padding-top: 0%;padding-bottom: 0%;" *ngFor="let item of RecList ;let i = index" (keydown)="ListKeydown($event,item)" >
      <li style="border-bottom: 1px solid black;" ><a (click)="SelectedItem('LIST',item)">{{item.code}}<br>{{item.name}}</a></li>
    </ul>
    <ul *ngIf="bShowMore" (keydown)="MoreKeydown($event)">
      <li><a (click)="More()">More...</a></li>
    </ul>
  </div>
</div>

 -->