<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">Ai Format({{mode}})</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>

<div class="page-body">
    <div class="row">

        <div class="col-md-6 testbox  px-0 mx-0">

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Name</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('fmt_name')"
                        [(ngModel)]="record.fmt_name" maxlength="100" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Type</label>
                <div class="col-10">
                    <select class="form-control form-control-sm" [(ngModel)]="record.fmt_type">
                        <option [value]="'MBL'">MBL</option>
                        <option [value]="'HBL'">HBL</option>
                        <option [value]="'INVOICE'">INVOICE</option>
                    </select>
                </div>
            </div>




        </div>

        <div class="col-md-6 testbox  px-0 mx-0">
            <div class="form-group row">
                <div class="col-12">
                    <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12 testbox  px-0 mx-0">
            <div class="page-body table-responsive">
                <table class="table table-hover table-sm  table-bordered cntr">
                    <thead class="page-body-thead">
                        <tr>
                            <th>CAPTION</th>
                            <th>TEXT</th>
                            <th>TYPE</th>
                            <th>BETWEEN-1</th>
                            <th>BETWEEN-2</th>
                            <th>POSITION</th>
                            <th>EXCLUDE</th>
                            <th>PAGE</th>
                            <th>ORDER</th>
                            <th style="text-align:center">DELETE</th>
                        </tr>
                    </thead>
                    <tbody class="page-body-tbody">
                        <tr *ngFor="let rec of records">
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="rec.fmt_caption">
                                    <option [value]="'CAPTION'">CAPTION</option>               
                                    <option [value]="'FORMAT'">FORMAT</option>
                                    <option [value]="'MBLNO'">MBLNO</option>
                                    <option [value]="'HBLNO'">HBLNO</option>
                                    <option [value]="'CONSIGNOR'">CONSIGNOR</option>
                                    <option [value]="'CONSIGNEE'">CONSIGNEE</option>
                                    <option [value]="'NOTIFY'">NOTIFY</option>
                                    <option [value]="'PRE-CARRIAGE'">PRE-CARRIAGE</option>                                    
                                    <option [value]="'POR'">POR</option>                                    
                                    <option [value]="'POL'">POL</option>                                    
                                    <option [value]="'POD'">POD</option>         
                                    <option [value]="'MOVEMENT'">MOVEMENT</option>         
                                    <option [value]="'POFD'">POFD</option>         
                                    <option [value]="'PLACE-OF-DELIVERY'">PLACE OF DELIVERY</option>         
                                    <option [value]="'VESSEL'">VESSEL</option>         
                                    <option [value]="'VOYAGE'">VOYAGE</option>         
                                    <option [value]="'FRT-STATUS'">FRT-STATUS</option>         
                                    <option [value]="'GR-WT'">GR-WT</option>         
                                    <option [value]="'NT-WT'">NT-WT</option>         
                                    <option [value]="'CBM'">CBM</option>         
                                    <option [value]="'PLACE-OF-ISSUE'">PLACE OF ISSUE</option>         
                                    <option [value]="'DATE-OF-ISSUE'">DATE OF ISSUE</option>         
                                    <option [value]="'DESC1'">DESC1</option>         
                                    <option [value]="'DESC2'">DESC2</option>         
                                    <option [value]="'CNTR'">CNTR</option>         
                                                         
                                </select>
                            </td>
                            <td >
                                <InputBox [(inputModel)]="rec.fmt_text" [field]="'fmt_text'" [maxlength]="100"
                                    (blur)="onBlur($event)"></InputBox>
                            </td>

                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="rec.fmt_type">
                                    <option [value]="'NA'">NA</option>
                                    <option [value]="'BETWEEN'">BETWEEN</option>
                                    <option [value]="'SINGLE-VALUE'">SINGLE-VALUE</option>
                                </select>
                            </td>

                            <td>
                                <InputBox [(inputModel)]="rec.fmt_bet1" [field]="'fmt_bet1'" [maxlength]="100"
                                    (blur)="onBlur($event)"></InputBox>
                            </td>

                            <td>
                                <InputBox [(inputModel)]="rec.fmt_bet2" [field]="'fmt_bet2'" [maxlength]="100"
                                    (blur)="onBlur($event)"></InputBox>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="rec.fmt_position">
                                    <option [value]="'NA'">NA</option>
                                    <option [value]="'BELOW'">BELOW</option>
                                    <option [value]="'RIGHT'">RIGHT</option>
                                </select>
                            </td>

                            <td>
                                <InputBox [(inputModel)]="rec.fmt_exclude" [field]="'fmt_exclude'" [maxlength]="100"
                                    (blur)="onBlur($event)"></InputBox>
                            </td>


                            <td>
                                <input class="form-control form-control-sm" type="nuber" [(ngModel)]="rec.fmt_page" />    
                            </td>

                            <td>
                                <input class="form-control form-control-sm" type="nuber" [(ngModel)]="rec.fmt_order" />    
                            </td>

                            <td class="p-0" style="text-align:center" (click)="RemoveRow(rec)">
                                <i class="fa fa-trash  fa-lg pointer"
                                    aria-hidden="true" ></i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-info btn-sm mr-1" (click)="AddRow()">Add Row</button>
                        <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
