<div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button> -->
    <a class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" [routerLink]="getRouteDet('L','ADD')" [queryParams]="getRouteDet('P','ADD')">New</a>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
  {{errorMessage}}
</div>

<app-acopen-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</app-acopen-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive table-bordered">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th (click)="mainservice.sort('op_docno')">REFNO&nbsp;<i [ngClass]="mainservice.getIcon('op_docno')"></i></th>
        <th (click)="mainservice.sort('op_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('op_date')"></i></th>
        <th (click)="mainservice.sort('op_acc_name')">LEDGER.NAME&nbsp;<i [ngClass]="mainservice.getIcon('op_acc_name')"></i></th>
        <th (click)="mainservice.sort('op_famt')">F.AMT&nbsp;<i [ngClass]="mainservice.getIcon('op_famt')"></i></th>
        <th (click)="mainservice.sort('op_curr_code')">CURR.CODE&nbsp;<i [ngClass]="mainservice.getIcon('op_curr_code')"></i></th>
        <th (click)="mainservice.sort('op_dr')">DEBIT&nbsp;<i [ngClass]="mainservice.getIcon('op_dr')"></i></th>
        <th (click)="mainservice.sort('op_cr')">CREDIT&nbsp;<i [ngClass]="mainservice.getIcon('op_cr')"></i></th>
        <th (click)="mainservice.sort('op_cust_name')">CUSTOMER&nbsp;<i [ngClass]="mainservice.getIcon('op_cust_name')"></i></th>
        <th (click)="mainservice.sort('op_invno')">INVNO&nbsp;<i [ngClass]="mainservice.getIcon('op_invno')"></i></th>
        <th (click)="mainservice.sort('op_invdate')">INV.DATE&nbsp;<i [ngClass]="mainservice.getIcon('op_invdate')"></i></th>
        <th (click)="mainservice.sort('op_mbl_refno')">SHPMT.REFNO&nbsp;<i [ngClass]="mainservice.getIcon('op_mbl_refno')"></i></th>
        <th (click)="mainservice.sort('op_inv_refno')">CUST.REFNO&nbsp;<i [ngClass]="mainservice.getIcon('op_inv_refno')"></i></th>
        <th (click)="mainservice.sort('rec_created_by')">CREATED BY&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_by')"></i></th>
        <th (click)="mainservice.sort('rec_created_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_date')"></i></th>
        <th (click)="mainservice.sort('rec_closed')">CLOSED&nbsp;<i [ngClass]="mainservice.getIcon('rec_closed')"></i></th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
        <td *ngIf="!this.mainservice.canEdit">{{rec.op_docno}}</td>
        <td *ngIf="this.mainservice.canEdit">
          <a class="hlink" [routerLink]="getRouteDet('L','EDIT',rec)" [queryParams]="getRouteDet('P','EDIT',rec)">{{rec.op_docno}}</a> 
        </td>
        <td>{{rec.op_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.op_acc_name}}</td>
        <td>{{rec.op_famt}}</td>
        <td>{{rec.op_curr_code}}</td>
        <td>{{rec.op_dr}}</td>
        <td>{{rec.op_cr}}</td>

        <td>{{rec.op_cust_name}}</td>
        <td>{{rec.op_invno}}</td>
        <td>{{rec.op_invdate | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.op_mbl_refno}}</td>
        <td>{{rec.op_inv_refno}}</td>

        <td>{{rec.rec_created_by}}</td>
        <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.rec_closed}}</td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />