<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">AI Verify Documents</label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>

<div class="row">
    <div class="col-md-6 px-0 mx-0 border">
        <div class="row align-items-center justify-content-left p-1 m-1 border">
            <label class="col-form-label col-form-label-sm mr-1">Page#</label>
            <label class="col-form-label col-form-label-sm mr-1">{{pageno}}/{{totpages}}</label>
            <button class="btn btn-info btn-sm mr-1" (click)="changePage('first')">First</button>
            <button class="btn btn-info btn-sm mr-1" (click)="changePage('prev')">Prev</button>
            <button class="btn btn-info btn-sm mr-1" (click)="changePage('next')">Next</button>
            <button class="btn btn-info btn-sm mr-1" (click)="changePage('last')">Last</button>
            <label class="col-form-label col-form-label-sm mr-1">Zoom</label>
            <button class="btn btn-info btn-sm mr-1" (click)="zoom('-')">-</button>
            <button class="btn btn-info btn-sm mr-1" (click)="zoom('+')">+</button>
            <button class="btn btn-info btn-sm mr-1" (click)="printpdf()">Print</button>
            <label class="col-form-label col-form-label-sm mr-1 font-weight-bold">{{selecteddata}}</label>
        </div>
        <div style="position:relative;z-index:0;overflow: scroll;" [style.height]="'80vh'">
            <canvas style="border:0px solid;z-index:1" #pdfCanvas></canvas>
            <canvas style="border:0px solid;z-index:2" (mousemove)="onCanvasMove($event)"
                (mousedown)="onCanvasClick($event)" draggable="true" (dragstart)="onDragStartCanvas($event)"
                #pdfCanvas2></canvas>
        </div>
    </div>
    <div class="col-md-6 testbox px-0 mx-0 border">
        <app-ai-hbl [_pkid]="pkid"></app-ai-hbl>
    </div>
</div>