<div *ngIf="tab == 'main'">
<div class="page-header">
    <div class="col">
        <label class="mr-1">{{title}}</label>
        <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button> -->
        <a class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" [routerLink]="getRouteDet('L','ADD')" [queryParams]="getRouteDet('P','ADD')">New</a>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        <!-- <i *ngIf="loading" class="fa fa-spinner"></i> -->
    </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage$ | async}}
</div>

<app-param-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)" ></app-param-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive table-bordered">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th (click) ="sort('param_code')" >CODE&nbsp;<i [ngClass]="getIcon('param_code')"></i></th>
                <th (click) ="sort('param_name1')" >NAME&nbsp;<i [ngClass]="getIcon('param_name1')"></i></th>
                <th *ngIf="menu_param == 'UNIT MASTER'" (click) ="sort('param_name2')" >NAME&nbsp;<i [ngClass]="getIcon('param_name2')"></i></th>
                <th *ngIf="menu_param == 'UNIT MASTER'" (click) ="sort('param_name3')" >NAME&nbsp;<i [ngClass]="getIcon('param_name3')"></i></th>
                <th *ngIf="menu_param == 'SALESMAN'" (click) ="sort('rec_locked')" >LOCKED&nbsp;<i [ngClass]="getIcon('rec_locked')"></i></th>
                <th *ngIf="menu_param == 'INVOICE-DESCRIPTION'&&gs.canDelete(menuid)" class='text-center'>DELETE</th>  
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of data$ | async "
            (click)="selectRowId(rec.param_pkid)" 
            [class.selected]="rec.param_pkid == getRowId()">            
                <!-- <td class='hlink'  (click)="edit(rec)" >{{rec.param_code}}</td> -->
                <td *ngIf="!gs.canEdit(menuid)" >{{rec.param_code}}</td>
                <td *ngIf="gs.canEdit(menuid)" >
                    <a class="hlink" [routerLink]="getRouteDet('L','EDIT',rec)" [queryParams]="getRouteDet('P','EDIT',rec)">{{rec.param_code}}</a> 
                </td>
                <td >{{rec.param_name1}}</td>
                <td *ngIf="menu_param == 'UNIT MASTER'" >{{rec.param_name2}}</td>
                <td *ngIf="menu_param == 'UNIT MASTER'" >{{rec.param_name3}}</td>
                <td *ngIf="menu_param == 'SALESMAN'" >{{rec.rec_locked}}</td>
                <td *ngIf="menu_param == 'INVOICE-DESCRIPTION'&&gs.canDelete(menuid)" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                    (click)="DeleteRow(rec)"></i></td>
            </tr>
        </tbody>
    </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />
</div>
<div *ngIf="tab == 'report'">
    <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"  
        (callbackevent)="callbackevent($event)"></app-report>
</div>
