<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">Mail Server Settings ({{mode}})</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>

<div class="page-body">
    <div class="row">

        <div class="col-md-6 testbox  px-0 mx-0">

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Name</label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('mail_name')"
                        [(ngModel)]="record.mail_name" maxlength="60" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Outgoing Server(SMTP) </label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('mail_smtp_name')"
                        [(ngModel)]="record.mail_smtp_name" maxlength="100" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Smtp Port</label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('mail_smtp_port')"
                        [(ngModel)]="record.mail_smtp_port" maxlength="10" />
                </div>
            </div>


            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Secured Pwd Authentication</label>
                <div class="col-8">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mail_is_spa_required">
                        <option [value]="'Y'">Yes</option>
                        <option [value]="'N'">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Smtp Authentication</label>
                <div class="col-8">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mail_is_auth_required">
                        <option [value]="'Y'">Yes</option>
                        <option [value]="'N'">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Require SSL</label>
                <div class="col-8">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mail_is_ssl_required">
                        <option [value]="'Y'">Yes</option>
                        <option [value]="'N'">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Bulkmail Batch Total</label>
                <div class="col-2">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('mail_bulk_tot')"
                        [(ngModel)]="record.mail_bulk_tot" maxlength="10" />
                </div>
                <label class="col-4 col-form-label col-form-label-sm">Batch Split Count </label>
                <div class="col-2">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('mail_bulk_sub')"
                        [(ngModel)]="record.mail_bulk_sub" maxlength="10" />
                </div>
            </div>

        </div>

        <div class="col-md-6 testbox  px-0 mx-0">
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm"></label>
                <div class="col-8">
                    <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>