<div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button> -->
    <a class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" [routerLink]="getRouteDet('L','ADD')" [queryParams]="getRouteDet('P','ADD')">New</a>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>

<acc-voidcheck-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</acc-voidcheck-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive table-bordered">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th (click)="mainservice.sort('void_vrno')">REFNO&nbsp;<i [ngClass]="mainservice.getIcon('void_vrno')"></i></th>
        <th (click)="mainservice.sort('void_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('void_date')"></i></th>
        <th (click)="mainservice.sort('void_bank_name')">BANK&nbsp;<i [ngClass]="mainservice.getIcon('void_bank_name')"></i></th>
        <th (click)="mainservice.sort('void_chqno')">CHECKNO&nbsp;<i [ngClass]="mainservice.getIcon('void_chqno')"></i></th>
        <th (click)="mainservice.sort('void_memo')">MEMO&nbsp;<i [ngClass]="mainservice.getIcon('void_memo')"></i></th>
        <th (click)="mainservice.sort('rec_created_by')">CREATED-BY&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_by')"></i></th>
        <th (click)="mainservice.sort('rec_created_date')">CREATE-DT&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_date')"></i></th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of records$ | async | sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
        <td  *ngIf="!this.mainservice.canEdit">{{rec.void_vrno}}</td>
        <td  *ngIf="this.mainservice.canEdit">
          <a class="hlink" [routerLink]="getRouteDet('L','EDIT',rec)" [queryParams]="getRouteDet('P','EDIT',rec)">{{rec.void_vrno}}</a>  
        </td>
        <td>{{rec.void_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.void_bank_name}} </td>
        <td>{{rec.void_chqno}} </td>
        <td>{{rec.void_memo}} </td>
        <td>{{rec.rec_created_by}} </td>
        <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td *ngIf="mainservice.canDelete" style="text-align:center"><i class="fa fa-trash  fa-lg pointer"
          aria-hidden="true" (click)="mainservice.DeleteRow(rec)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />