<div class="page-list">
    <div class="page-search">
      <div class="row">
  
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">Type</label>
            <div class="col-8">
              <select #_type class="form-control form-control-sm" [(ngModel)]="searchQuery.searchString">
                <option [value]="'ADD TO FOLLOW UP'">ADD TO FOLLOW UP</option>
                <option [value]="'ADD TO FOLLOW UP JOURNALS'">ADD TO FOLLOW UP JOURNALS</option>
                <option [value]="'INTERNAL MEMO MESSAGE'">INTERNAL MEMO MESSAGE</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-8 col-form-label col-form-label-sm"></label>
            <div class="col-4">
              <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
              <!-- <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button> -->
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>